@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
  font-family: 'Craft Mono';
  src: url('styles/fonts/craft-mono/craft-mono.ttf') format('truetype');
}

* {
    font-family: 'Roboto';
}

&:not(input) {
    not(textarea),
    not(textarea) before,
    not(textarea) after {
        -webkit-user-select: none;
        cursor: default;
        user-select: none;
    }
}
&:focus,
input,
button,
textarea {
    outline: none;
}

.grid-container {
    display: grid;
    gap: 0px 0px;
    grid-template-areas: 'explorer file-view file-view file-view' 'explorer file-view file-view file-view' 'explorer file-view file-view file-view';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.explorer {
    grid-area: explorer;
}
.file-view {
    grid-area: file-view;
}
.file-content {
    cursor: text;
    font-family: 'Craft Mono';
}

ul.files {
    list-style: none;
    padding-left: 0;
    li {
        &:hover {
            background-color: rgb(195, 195, 195);
            cursor: pointer;
        }
        &:active {
            background-color: rgb(180, 180, 180);
        }
    }

    ul {
        list-style: none;
    }
}

li.file {
    padding-left: 12px;
}
