@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto';
}

&:not(input) {
    not(textarea),
    not(textarea) before,
    not(textarea) after {
        -webkit-user-select: none;
        cursor: default;
        user-select: none;
    }
}
&:focus,
input,
button,
textarea {
    outline: none;
}

.grid-container {
    display: grid;
    gap: 0px 0px;
    grid-template-areas:
        'explorer file-view file-view file-view'
        'explorer file-view file-view file-view'
        'explorer file-view file-view file-view';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.explorer {
    grid-area: explorer;
}
.file-view {
    grid-area: file-view;
}

.tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab-div {
    button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }
}

.tab-div:hover {
    background-color: #ddd;
    background-color: #ccc;
}

.gutter {
    // border: 1px solid red;

    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    vertical-align: auto;

    float: left;
    line-height: 1.5rem;

    margin-top: 35px;

    width: 10px;
}
.file-content {
    // border: 1px solid green;
    cursor: text;
    font-family: 'monospace';
    font-variant-ligatures: none;
    float: left;
    line-height: 1.5rem;

    margin-left: 10px;

    width: 90%;

    div {
        font-family: 'monospace';
    }
}

ul.files {
    list-style: none;
    padding-left: 0;
    li {
        &:hover {
            background-color: rgb(195, 195, 195);
            cursor: pointer;
        }
        &:active {
            background-color: rgb(180, 180, 180);
        }
    }

    ul {
        list-style: none;
        padding-left: 13px;
    }

    .folder {
        padding-left: 0;
    }

    .file {
        padding-left: 13px; // '' is 3 px wide
    }
}

.dir-img {
    height: 10px;
    width: 10px;
}
