@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto';
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        'explorer file-view file-view file-view'
        'explorer file-view file-view file-view'
        'explorer file-view file-view file-view';
}

.explorer {
    grid-area: explorer;
}

.file-view {
    grid-area: file-view;
}

/* .file-content {
    margin-top: 10px;
    margin-bottom: 10px;
} */
